@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #1A1A1A;
  --bg-light: #F3F3F3;
  --text-dark: #333333;
  --text-light: #F4F7E0;
}


@layer base {
  
  .center-child-content {
    @apply flex flex-col content-center flex-wrap;
  }

  .common-content-w {
    @apply w-full max-w-7xl;
  }
  .common-content-p {
    @apply px-[1.5rem] lg:px-[3.75rem]
  }

}


