@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

  /* --page-sm-px: 1.5rem;
  --page-lg-px: 3.75rem; */

}


@layer base {
  
  .center-child-content {
    @apply flex flex-col content-center flex-wrap;
  }

  .common-content-w {
    @apply w-full max-w-7xl;
  }
  .common-content-p {
    @apply px-[1.5rem] lg:px-[3.75rem]
  }

}


